.App {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  background-color: #282c34;
  font-size: medium;
  color: white;
  height: 100vh;

  > h1 {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    > span {
      display: inline-flex;
      align-items: center;
    }
  }
}

.UserName {
  font-size: small;
  color: white;
  background-color: transparent;
  border: 0;
}

.LogoutButton {
  display: inline-flex;
  color: inherit;
  background-color: transparent;
  border: 0;
}
