.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;

  > h1 {
    margin: 10px 0;
  }
}
